[Unit]
Description=Run git-diary indexer every 6 hours
Requires=git-diary-indexer.service

[Timer]
OnCalendar=*-*-* 00/6:00:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
